// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Chip-in colors
$color-transparent-black: rgba(0, 0, 0, 0.5);
$chip-green: #D4EBD0;
$chip-blue: #A4C5C6;
$chip-purple: #856c8b;
$chip-purple-light: #bfadc4;
$chip-grey-text: #7D7D7D;

// Gray scale colors for all texts
$primary-dark-charcoal: #333333;
$secondary-granite-gray: #666666;
$tertiary-spanish-gray: #999999;
$extra-chinese-gray: #CCCCCC;

// Buttons colors
$chip-main: #fbd94c;
