// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// Chip-in colors
$color-transparent-black: rgba(0, 0, 0, 0.5);
$chip-green: #d4ebd0;
// $chip-blue: #A4C5C6;
$chip-blue: #e22f18;
// $chip-purple: #856c8b;
$chip-purple: #0afc01;
$chip-purple-light: #bfadc4;
$chip-grey-text: #7d7d7d;

// Gray scale colors for all texts
$primary-dark-charcoal: #333333;
$secondary-granite-gray: #666666;
$tertiary-spanish-gray: #999999;
$extra-chinese-gray: #cccccc;

// Buttons colors
// $chip-main: #fbd94c;
$chip-main: #11ff88;
