.new-request{
  min-height: 75vh;
}

.request-text {
  margin-bottom: 25px;
}

#request_message{
    height: 200px;
    // width: 600px;
}

.form-buttons{
    min-width: 150px;
    margin: 0px $spacer;
    margin-top: 10px;
}

.back-btn{
}

h5 {
  color: $tertiary-spanish-gray;
}

@media (min-width: 100px) and (max-width: 575px) {
    #request_message {
        width: 350px;
    }
}

@media (min-width: 576px) {
    #request_message {
        width: 600px;
    }
}