<div class="container">
  <div class="banner-confirm d-flex justify-content-center">
    <%=cl_image_tag('https://res.cloudinary.com/dqlvehu5z/image/upload/v1583936985/FgC6EQ9EvJ7gtqEWL5eGVkUC.jpg')%>
  </div>
  <div class="container">
      <h1 class="d-flex justify-content-center confirm-text">Your Application Has Been Sent!</h1>
      <p class="d-flex justify-content-center confirm-text">You will receive a confirmation soon!</p>
      <div class="button-row d-flex justify-content-center confirm-text">
          <%= link_to 'My Events', dashboard_path, class: "button-chip-main" %>
      </div>
  </div>
</div>
