// .card-chip img {
//   width: 100%;
//   height: 200px;
//   object-fit: cover;
//   background-size: cover;
//   background-position: center;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;

// }


.card-chip-title {
  min-height: 80px;
  a {
    color: $chip-purple;
    &:hover {
      color: $chip-purple-light;
    }
  }
}

.card-chip {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  justify-content: space-between;
  border-radius: 5px;
  background-color: #ffffff;
  height: 100%;
  text-align: left;
}

// .card-chip p{
//   color: #7D7D7D;
// }

.card-chip-image{
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
  padding: 0px;
  height: 200px;
  background-size: cover;
  position: relative;
}

.card-chip-spots{
  position: absolute;
  bottom: -13px;
}

.chip-purple{
  color: $chip-purple;
}

.mission-card img {
  width: 250px;
  margin-bottom: 5px;
}

.mission-text {
  width: 250px;
}

.spots-left-card {
  color: white;
}
