
#map {
  height: 100vh;
  position: sticky;
  top: 0;
  font-family: Lato;
  color: #856c8b;
  a {
    text-decoration: none;
    font-weight: bold;
    color: #856c8b;
  }

  img {
    margin: 5px;
  }
}

.mapboxgl-popup {
  max-width: 160px;
  padding: 0px;
}

.mapboxgl-popup-content {
  text-align: center;

}
