// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "card";
@import "container";
@import "footer";
@import "map";
@import "modal";
@import "_navbar";
@import "typography";

@media (min-width: 100px) and (max-width: 1200px) {
  #map {
    display: none;
  }
  #indexcontainer {
    width: 100vw !important;
  }
}

@media (min-width: 576px) {
  #map {
    display: block;
  }
}

.error {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#category-form {
  margin-top: 10px;
}

#category-form > div {
  flex: 1;
}

#search_category {
  width: 80%;
  margin-left: 10px;
}
