.first-half{
  border: 1px solid #e4e4e4;
  border-radius: 1px;
  min-height: 450px;
  padding: 10px;
  margin-bottom: 20px;
  h6 {
    margin: 0px 0px 16px;
  }
}

img.profile-img{
  margin-top: 15px;
  margin-bottom: 15px;
  background-position: center;
  width: 200px;
  height: 200px;
  object-fit: contain;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.hr-style{
    width: 65%;
    margin: auto;
}

#modal-photo {
  max-width: 50%;
  background-position: center;
}

.review-box {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.second-half h3 {
  color: $primary-dark-charcoal;
}

